.product-single {
    width: 20%;
    .card {
        border: none;
        background-color: transparent;
    
        .card-body,
        .card-img {
            background-color: #fff;
            margin-bottom: 5px;
        }
        .card-img {
            img {
                width: 138px;
                height: 164px;
                object-fit: cover;
            }
        }
    
        .card-body {
            padding: 14px 16px;
    
            .card-title {
                font-size: 12px;
                font-weight: 500;
            }

            .price {
                align-items: center;

                span {
                    &:first-of-type {
                        color: #98A2B3;
                        font-size: 9px;
                        margin-right: 4px;
                    }

                    &:last-of-type {
                        color: #1D2939;
                        font-size: 13px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

// media queries for product list grid
@media screen and (max-width: 1200px) {
    .product-single {
        width: 25%;
    }
}
@media screen and (max-width: 992px) {
    .product-single {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .product-single {
        width: 50%;
    }
}
@media screen and (max-width: 576px) {
    .product-single {
        width: 100%;
    }
}