<div class="container-fluid">
  <div class="row flex-wrap justify-content-start">
    <div class="col-12" id="result">
      <p>
        <span>{{ productCount }} Results for </span>
        <span>"{{ selectedCategoryName }}"</span>
        <span *ngIf="selectedBrands.length > 0"> - Filtered by Brands</span>
      </p>
    </div>

    <div *ngFor="let product of filteredProducts$ | async" class="product-single mb-3">
      <div class="card d-flex flex-column align-items-center">
        <div class="card-img d-flex justify-content-center">
          <img [src]="product.thumbnail" class="card-img-top" alt="{{ product.title }}" />
        </div>
        <div class="card-body w-100">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="price d-flex">
            <span>EGP</span>
            <span>{{ product.price }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
