<nav class="navbar navbar-expand-lg navbar-light ps-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/Logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSearch">
        <form class="d-flex">
            <input type="text" class="form-control" placeholder="Search products..." />
        </form>
      </div>
    </div>
</nav>
<section class="d-flex products-categories">
    <ul class="mb-0">
        <li><a href="#" class="text-uppercase">Electronics</a></li>
        <li><a href="#" class="text-uppercase">Mobile</a></li>
        <li><a href="#" class="text-uppercase">Men</a></li>
        <li><a href="#" class="text-uppercase">Women</a></li>
        <li><a href="#" class="text-uppercase">Home</a></li>
        <li><a href="#" class="text-uppercase">Beauty & Health</a></li>
        <li><a href="#" class="text-uppercase">Baby & Toys</a></li>
        <li><a href="#" class="text-uppercase">SuperMarket</a></li>
        <li><a href="#" class="text-uppercase">Sell On Platform</a></li>
        <li><a href="#" class="text-uppercase">New Deals</a></li>
    </ul>
</section>