.sidebar {
    padding-top: 75px;

    .categories {
        padding-left: 14px;
        padding-top: 7.33px;
        
        h6 {
            margin-bottom: 28px;
        }

        ul {
            &.categories {
                width: 100%;
                max-height: 345px;
                overflow: scroll;
                list-style: none;
                padding: 5px 0 20px 14px;
                border-left: 1px solid #EAECF0;
                li {
                    margin: 20px 0;
                    a {
                        font-size: 16px;
                        font-weight: 400;
                        color: #344054;
                        text-decoration: none;
                        cursor: pointer;
    
                        &.active {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    .brands {
        padding-left: 14px;
        padding-top: 7.33px;

        ul {
            list-style: none;

            li {
                margin-bottom: 15px;

                .count {
                    padding: 2px 15px;
                    border: 1px solid #F9FAFB;
                    color: #344054;
                    background-color: #efefef;
                    border-radius: 15px;
                }
            }
        }
    }
}