<section class="sidebar d-flex flex-column">
    <div class="categories d-flex flex-column">
      <h6 class="fw-bold">Category</h6>
      <ul class="categories" *ngIf="categories">
        <li *ngFor="let category of categories">
          <a (click)="selectCategory(category)">{{ category.name }}</a>
        </li>
      </ul>
    </div>

    <div class="brands d-flex flex-column mt-4">
        <h6 class="fw-bold">Brand</h6>
        <ul class="brands-list">
          <li *ngFor="let brand of brandCounts">
            <input
              type="checkbox"
              [value]="brand.brand_name"
            />
            {{ brand.brand_name }} ({{ brand.count }})
          </li>
        </ul>
      </div>
  </section>
  