#product-details-wrapper {
    padding-top: 114px;

    .top_info {
        margin-bottom: 74px;
    }

    #product__images {
        flex-direction: column;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 768px) {
        #product__images {
            flex-direction: row;
        }  
    }

    #product__info {
        h1 {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.05px;;
            color: #344054;

            & + p {
                font-size: 13px;
                font-weight: 500;
                line-height: 15.73px;
                color: #98A2B3;
            }
        }

        #rate {
            border: 1px solid #EAECF0;
            border-radius: 15px;
            padding: 3px 5px;
            margin-bottom: 16px;

            & > span {
                width: 9px;
                height: 9px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            #rate-num {
                font-size: 10.29px;
                font-weight: 500;
                color: #667085;
            }

            #reviews-count {
                font-size: 10.29px;
                font-weight: 500;
                line-height: 12.44px;
                color: #D0D5DD;
            }
        }

        #price__wrapper {
            span {
                &:first-of-type {
                    font-size: 14.84px;
                    font-weight: 500;
                    color: #98A2B3;
                    margin-right: 5px;
                }

                &:last-of-type {
                    font-size: 21.21px;
                    font-weight: 700;
                    color: #1D2939;
                }
            }
        }

        #delivery__wrapper {
            width: 216px;
            padding: 8px;
            background-color: #fff;
            border-radius: 4px;
            margin-bottom: 12px;

            p {
                margin-bottom: 0;

                &:first-of-type {
                    font-size: 10.29px;
                    font-weight: 500;
                    line-height: 12.46px;
                    margin-bottom: 4px;
                    color: #667085;
                }

                &:last-of-type {
                    font-size: 10.29px;
                    font-weight: 700;
                    line-height: 12.46px;
                    color: #1D2939;
                }
            }
        }

        #monthly__plans {
            padding: 16px;
            margin-bottom: 12px;
            background-color: #FEFBE8;

            p {
                font-size: 10.29px;
                font-weight: 500;
                line-height: 12.46px;
                color: #667085;
                margin-bottom: 0;
                margin-right: 16px;
            }

            a {
                font-size: 10.29px;
                font-weight: 700;
                line-height: 12.46px;
                color: #1D2939;
            }
        }

        #installment__provider {
            padding: 16px;
            background-color: #fff;
            border-radius: 4px;
            margin-bottom: 27px;

            img {
                width: 80px;
                height: 50px;
                object-fit: contain;
            }

            p {
                font-size: 13px;
            }
        }
        @media screen and (max-width: 768px) {
            #installment__provider {
                width: 100%;
            } 
        }

        #cta__wrapper {
            .cart {
                background-color: #002985;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                line-height: 19.36px;
                text-align: center;
                width: calc(100% - 85px);
                padding-top: 16px;
                padding-bottom: 16px;
            }
         }
    }

    #benifits__wrapper {
        #benifits__single {
            margin-bottom: 24px;

            img {
                width: 35px;
                height: 35px;
                object-fit: cover;
                margin-right: 12px;

                & + div {
                    h6 {
                        font-size: 11.9px;
                        font-weight: 600;
                        line-height: 16.66px;
                        margin-bottom: 5px;
                        color: #344054;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.6px;
                        color: #7E859B;
                    }
                }
            }
        }
    }
}

.product__overview {
    margin-bottom: 20px;
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 41px;
    padding-right: 100px;
    border: 1px solid #EAECF0;

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #98A2B3;
    }

    ul {
        list-style: none;

        li {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: #98A2B3;
            text-indent: -.7em;

            &::before {
                content: "• ";
                color: #98A2B3;
            }
        }
    }
}

.additional_info_heading {
    h5 {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.78px;
        color: #344054;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 576px) {
    .product__overview {
        padding: 20px;
    }
}

